torch>=1.13.1
transformers==4.37.2
datasets==2.16.1
accelerate==0.27.2 --index-url https://pypi.org/simple
peft==0.9.0
trl==0.7.11
protobuf
cpm-kernels
sentencepiece
jieba
rouge-chinese
nltk
gradio>=3.36.0
uvicorn
pydantic==1.10.11
fastapi==0.95.1
sse-starlette
matplotlib
